@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --main-color: #12cdd4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Login */
.login-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.login-box h1 {
  color: var(--main-color);
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 5px;
}

.login-box .form-control {
  width: 70%;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

.login-box .form-control h4 {
  width: 100%;
  margin-bottom: 3px;
  font-size: 0.9rem;
  font-weight: 400;
}

.login-box .form-control input {
  width: 97%;
  height: 40px;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  font-size: 1rem;
}

.incorrect-creds {
  color: red;
  font-size: small;
  height: 10px;
}

.form-btn {
  width: 70%;
  margin-top: 20px;
  height: 45px;
  border: none;
  background-color: var(--main-color);
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
}

.form-btn:hover {
  transform: scale(1.01);
}

/* Navbar */
.navbar {
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: white;
}

.navbar .nav-container {
  position: relative;
  max-width: 1000px;
  padding: 0 40px;
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-container ul {
  display: flex;
  list-style: none;
}

.navbar .nav-container li a,
.navbar .nav-container li h4 {
  text-decoration: none;
  color: white;
  padding-left: 50px;
  font-weight: 500;
  font-size: larger;
}

/* Home page */
.home-bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: #e6e6e6;
  z-index: -1;
}

.home-container {
  margin: 60px auto 0 auto;
  max-width: 1000px;
  min-height: calc(100% - 60px);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.add-btn {
  margin: 50px 0;
}

.search {
  width: 320px;
  height: 40px;
  font-size: larger;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.search input {
  height: 35px;
  font-family: inherit;
  font-size: large;
  width: 90%;
  border: none;
}

.search input:focus {
  outline: none;
}

/* Password Entity */
.password-entity {
  background-color: var(--main-color);
  width: 400px;
  height: 120px;
  border-radius: 20px;
  padding: 20px 10px;
  margin-top: 50px;
  color: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  gap: 60px;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.password-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: larger;
  height: 100%;
  padding: 5px 0;
}

/* Utilities */
.btn {
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}
