.password-entity {
  background-color: var(--main-color);
  width: 400px;
  height: 120px;
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info h3 {
  overflow-wrap: break-word;
  width: 200px;
}

.password-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: larger;
  height: 100%;
  padding-top: 5px;
}

.edit-delete,
.show-copy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.password-entity i {
  width: 25px;
  height: 25px;
}

.copy-password {
  position: relative;
}

.copy-password::before {
  content: "Copied";
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--main-color);
  padding: 5px;
  border-radius: 7px;
  font-size: small;
  display: none;
}

.copy-password::after {
  content: "";
  position: absolute;
  top: 47px;
  right: 10px;
  width: 5px;
  height: 5px;
  background-color: var(--main-color);
  transform: rotate(45deg);
  display: none;
}

.copy-password.active::before,
.copy-password.active::after {
  display: block;
}
